@model dataTable.Models.Category
@{
    ViewData["Title"] = "Index";
}






<div class="container">
  
 
        
            <select  asp-items="@ViewBag.CategoryId" name="Catid" id="catid"class="form-control">
            <option value="0">Choose a category</option>
        </select>

        
   



        <br />
        <br />
       
    
    <div class="table-responsive">
        


        <table id="tblPro" class="table table-bordered">

            <thead>
                <tr>
              

                    <th>Image</th>
                    
                    <th>Name</th>
                    <th>Price</th>
                    
                    <th>Category</th>
                   
                   
                </tr>
            </thead>
        </table>
    </div>
</div>









